.bestselling-products-cotainer {
  margin-top: 30px;
}
.bestselling-products-cotainer .bestselling-products-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.bestselling-products-cotainer .bestselling-products-title h3 {
  font-family: Vaziri-Light;
}
.bestselling-products-cotainer .bestselling-products-title a {
  color: #10c5de;
  font-size: 0.9rem;
}
.bestselling-products-cotainer .bestselling-products-slider {
  direction: rtl;
  height: 300px !important;
  box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.19);
-webkit-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.19);
}
.bestselling-products-cotainer .bestselling-products-slider .swiper-button-next, .bestselling-products-cotainer .bestselling-products-slider .swiper-button-prev {
  display: none;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items {
  display: flex;
  flex-direction: column;
  direction: rtl;
  user-select: none;
  gap: 20px;

}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a {
  display: flex;
  width: 100%;

}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a div:last-child:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  background-color: #f1f2f4;
  width: 100%;
  bottom: -10px;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a div:nth-child(3) {
  position: relative;
  margin-right: 5px;
  width: 100%;
  flex-grow: 1;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a div:nth-child(3) p {
  font-family: Vaziri-Light;
  font-size: 0.8rem;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items > a span {
  color: #10c5de;
  font-size: 1.5rem;
  padding: 0 5px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.bestselling-products-cotainer .bestselling-products-slider .bestselling-products-items .img-container {
  width: 86px;
  height: 86px;
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .bestselling-products-cotainer {
    margin-top: 30px !important;
    border: 1px solid #e0e0e6;
    border-radius: 15px;
    padding: 20px;
 }
  .bestselling-products-cotainer .bestselling-products-title {
    padding: 0px;
    margin-bottom: 30px;
 }
  .bestselling-products-cotainer .bestselling-products-title h3 {
    flex-grow: 1;
    text-align: center;
 }
  .bestselling-products-cotainer .bestselling-products-title a {
    color: #10c5de;
    font-size: 0.9rem;
 }
  .bestselling-products-cotainer .bestselling-products-slider .swiper-button-next, .bestselling-products-cotainer .bestselling-products-slider .swiper-button-prev {
    display: block;
    transition: all 0.3s;
    border: 1px solid #c0c2c5;
    height: 40px;
    width: 40px;
    color: #424750;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
 }
  .bestselling-products-cotainer .bestselling-products-slider .swiper-button-next::after, .bestselling-products-cotainer .bestselling-products-slider .swiper-button-prev::after {
    font-size: 0.7rem;
    font-weight: bolder;
 }
  .bestselling-products-cotainer .bestselling-products-slider .swiper-button-next.swiper-button-disabled, .bestselling-products-cotainer .bestselling-products-slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
 }
  .bestselling-products-cotainer .bestselling-products-slider .swiper-button-prev {
    margin: 0 !important;
    right: 10px !important;
    top: 45%;
 }
  .bestselling-products-cotainer .bestselling-products-slider .swiper-button-next {
    margin: 0 !important;
    left: 10px !important;
    top: 45%;
 }
}
